@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var selection = CurrentPage.Ancestors(); }

@if (selection.Any())
{
<div class="breadcrumb">
	<ul>
		@* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
		@foreach (var item in selection.OrderBy("Level"))
		{
		<li><a href="@item.Url">@item.Name</a> <span class="divider">/</span></li>
		}

		@* Display the current page as the last item in the list *@
		<li class="active">@CurrentPage.Name</li>
	</ul>
</div>
}