html, body {
    height: 100%;
}

body {
    background-color: #efefef;
}

.site-wrapper-inner {
    padding-top: 90px;
}

.circle {
    border-radius: 50%;
}

.profilePicture {
    width: 200px;
    height: 200px;
    border: 5px solid white;
}

a {
    color: #333;
}

.faded {
    opacity: 0.5;
}