html, body {
    height: 100%;
}

body {
    background-color: #efefef;
}

.circle {
    border-radius: 50%;
}

.profilePicture {
    width: 100%;
    border: 5px solid white;
    display: block;
    margin: 0 auto;
}

a {
    color: #333;
}

.faded {
    opacity: 0.5;
}

.smallHero {
    padding-top: 40px;
}