.content {
    margin-top: 50px;

    &.about {
    }

    &.blog {
        .box {
            display: block;
            background-color: #fafafa;
            padding: 20px;
            margin: 5px 0;
            border-left: 10px solid #5cb85c;

            &:hover {
                background-color: #fff;
            }
        }
    }
}

.social {
    a {
        display: block;
        margin: 5px 0;

        &.with-icon {
            padding-left: 30px;
            background-repeat: no-repeat;
        }

        &.twitter {
            background-image: url('/Content/social/Twitter.svg');
            background-size: 30px 30px;
            background-position: -5px -2px;
        }

        &.github {
            background-image: url('/Content/social/GitHub.png');
            background-size: 21px 21px;
        }
    }
}

.blog-info {
    margin-bottom: 10px;
}