// main: style.less 
@import "_config";

.four-section {
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.section {
    width: 100%;
    height: ~"calc(50vh - 50px)";
    min-height: 200px;
    box-sizing: border-box;
    float: left;
    position: relative;
    display: flex;

    a {
        color: white;
        z-index: 5;
        text-decoration: none;
        font-size: 30px;
        height: 100%;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            margin-right: 10px;
        }
    }

    .section-overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.3);

        &:hover {
            background-color: rgba(0,0,0,0.2);    
        }
    }
}

@media @tablet {
    .section {
        width: 50%;
    }
}

.bg-disclaimer {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 10;
    color: white;

    a {
        color: white;
    }
}

.mixin_section-overlay(@colourOverlay, @colour) {

    .section-overlay {
        background-color: @colourOverlay;

        &:hover {
            background-color: @colour;
        }
    }
}
