@import "_config";

.navigation {
	position: fixed;
	top: 0;
	height: 60px;
	z-index: 10;
	padding: 20px 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	
	ul {
		color: white;
		margin: 0 auto;
		display: block;

		li {
			float: left;
			list-style: none;
			padding: 20px;

			&:first-child { 
				padding-left: 0;
			}
		}
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}