html,
body {
  height: 100%;
}
body {
  background-color: #efefef;
}
.circle {
  border-radius: 50%;
}
.profilePicture {
  width: 100%;
  border: 5px solid white;
  display: block;
  margin: 0 auto;
}
a {
  color: #333;
}
.faded {
  opacity: 0.5;
}
.smallHero {
  padding-top: 40px;
}
.cover {
  min-height: 100vh;
  display: flex;
}
.cover .container {
  margin: auto !important;
}
.cover .row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.home a {
  color: #efefef;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
}
.home a:hover {
  color: #fff;
  text-decoration: none;
}
.home .profilePicture {
  height: 300px;
  width: 300px;
}
.site-wrapper.home {
  background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-589038.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.site-wrapper.home .site-wrapper-inner {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
nav li {
  display: inline-block;
}
nav li a {
  padding: 15px;
}
nav a {
  color: #efefef;
  font-weight: bold;
  padding: 10px;
  display: block;
}
nav a.brand {
  width: 7.5rem;
  font-size: 2rem;
  line-height: 1;
}
nav a:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.home .navbar {
  background-color: initial;
}
.navbar {
  background-color: #333;
  border-radius: 0;
}
.content {
  margin-top: 50px;
}
.content.blog .box {
  display: block;
  background-color: #fafafa;
  padding: 20px;
  margin: 5px 0;
  border-left: 10px solid #5cb85c;
}
.content.blog .box:hover {
  background-color: #fff;
}
.social a {
  display: block;
  margin: 5px 0;
}
.social a.with-icon {
  padding-left: 30px;
  background-repeat: no-repeat;
}
.social a.twitter {
  background-image: url('/Content/social/Twitter.svg');
  background-size: 30px 30px;
  background-position: -5px -2px;
}
.social a.github {
  background-image: url('/Content/social/GitHub.png');
  background-size: 21px 21px;
}
.blog-info {
  margin-bottom: 10px;
}
.footer {
  margin-top: 100px;
  height: 300px;
  background-color: #333;
}