@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogContainer>

@{ 
	Layout = "Content.cshtml";
	ViewBag.PageTitle = "Blog";
	ViewBag.PageType = "blog";

    var childrenInOrder = CurrentPage.Children().OrderBy("CreateDate desc");
}

@section MainContent {
	@foreach (var child in childrenInOrder) {
        DateTime createDate = child.CreateDate;
        var dayString = createDate.ToString("dd");
        var longDateString = createDate.ToString("MMM-yy");

		<a href="@child.Url">

            <span class="dateStamp">
                <span class="day">@dayString</span>
                <span class="longDate">@longDateString</span>
            </span>
            <span class="list-title">
                @child.GetPropertyValue("heading")
            </span>
		</a>
	}
}