@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogContainer>
@{
	Layout = "Master.cshtml";
	
}

<div class="smallHero blogBg">
	<div class="contentContainer">
		<h2>Blog</h2>
	</div>
</div>

<div class="content">
	@Umbraco.RenderMacro("Breadcrumb")
	
	<div class="contentContainer">
		@foreach (var child in CurrentPage.Children()) {
			<a href="@child.Url">
				@child.GetPropertyValue("heading")
			</a>
		}
	</div>
</div>