@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Contact>
@{
    Layout = "Content.cshtml";
    ViewBag.PageTitle = "Contact";
    ViewBag.PageType = "contact";
}
@section MainContent {
    <div class="col-sm-8 offset-sm-1">
        @Html.Raw(Model.Content.Content)
    </div>
}
