@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@{
	Layout = "Master.cshtml";

	var backgroundUrl = Umbraco.Media(CurrentPage.mainBackground).Url;
}
<a href="/about/">
    <div role="main" class="cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="circle profilePicture" src="~/Content/profilePicture.jpg" alt="me" />
                    <h1 class="cover-heading">Hey there.</h1>
                    <p>I'm Tom, a Software Developer specializing in the .NET stack and Umbraco.</p>
                    <p>Come say hello :)</p>
                </div>
            </div>

        </div>
    </div>
</a>
@*<div class="four-section">
	<div class="section blogBg">
		<div class="section-overlay">
			<a href="/Blog/">
				<span>Blog</span>
				<i class="material-icons">markunread_mailbox</i>
			</a>
		</div>
	</div>
	<div class="section aboutBg">
		<div class="section-overlay">
			<a href="/About/">
				<span>About me</span>
				<i class="material-icons">help</i>
			</a>
		</div>
	</div>
	<div class="section workBg">
		<div class="section-overlay">
			<a href="/Work/">
				<span>Work</span>
				<i class="material-icons">work</i>
			</a>
		</div>
	</div>
	<div class="section cvBg">
		<div class="section-overlay">
			<a href="/Contact/">
				<span>Contact</span>
				<i class="material-icons">insert_drive_file</i>
			</a>
		</div>
	</div>
</div>*@