@{
    Layout = null;
}<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tom Keepings - MrSooty</title>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=cs&amp;skin=desert"></script>
    <link href="/Styles/CodeEditor.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/Styles/style.css" />
</head>
<body>
    
    <div class="navigation">
        <div class="contentContainer">
            <div class="siteHeading">
                <a href="/">tom ~</a>
            </div>

            <ul>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/work/">Work</a></li>
                <li><a href="/">cv</a></li>
            </ul>
        </div>
    </div>

    @RenderBody()
</body>
</html>