@{
    Layout = null;
}<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tom Keepings - MrSooty</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/Styles/style.css" />
    <link rel="stylesheet" href="/Content/highlighterjs/vs2015.css" />
    <script type="text/javascript" src="/Content/highlighterjs/highlight.pack.js"></script>
</head>
<body>
    
    <div class="navigation">
        <div class="contentContainer">
            <div class="siteHeading">
                <a href="/">tom ~</a>
            </div>

            <ul>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/work/">Work</a></li>
                <li><a href="/">CV</a></li>
            </ul>
        </div>
    </div>

    @RenderBody()

    @if(Request.Url.GetSafeAbsolutePath() != "/") { 
    <div class="footer">
        &nbsp;
    </div>
    }

    <script>
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>