@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.WorkItem>

@{
	Layout = "Content.cshtml";
	ViewBag.PageTitle = CurrentPage.Heading;
	ViewBag.PageSubtitle = CurrentPage.Subtitle;
	ViewBag.PageType = "work";

}

@section MainContent {
	<div class="info">
		<span class="author">Tom</span>
		<span class="publishDate">@CurrentPage.UpdateDate.ToString("dd MMMM yyyy")</span>
	</div>

}
