@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.WorkContainer>

@{
    Layout = "Content.cshtml";
    ViewBag.PageTitle = CurrentPage.Heading;
    ViewBag.PageType = "work";

    var childrenInOrder = CurrentPage.Children().OrderBy("CreateDate desc");
    var featureIsLive = false;
}

@section MainContent {
    <div class="col-xs-12">
        @if (featureIsLive) {
        foreach (var child in childrenInOrder) {
            DateTime createDate = child.CreateDate;
            var dayString = createDate.ToString("dd");
            var longDateString = createDate.ToString("MMM-yy");

                <a class="largeLink" href="@child.Url">
                    <span class="dateStamp">
                        <span class="day">@dayString</span>
                        <span class="longDate">@longDateString</span>
                    </span>
                    <span class="list-title">
                        @child.GetPropertyValue("heading")
                    </span>
                </a>
            }
        }
        else {
            <p>Page still under development.</p>
        }
    </div>
}
